{# Model creation wizard #}
<div class="modal center-grow modal-new-model" tabindex="-1">
    <div style="min-width: 700px" class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="overflow: visible">
            <div class="modal-header">
                <h5 class="modal-tixtle gap-1 hstack" id="modalVerticallyCenteredLabel">
                    <i>
                        <svg width="24" height="24" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"
                             fill="none" stroke="#000">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <rect x="8" y="40" width="16" height="16"></rect>
                                <rect x="40" y="40" width="16" height="16"></rect>
                                <rect x="24" y="8" width="16" height="16"></rect>
                                <polyline points="48 40 48 32 16 32 16 40"></polyline>
                                <line x1="32" y1="32" x2="32" y2="24"></line>
                            </g>
                        </svg>
                    </i>
                    <span>
                        Model Wizard
                    </span>
                </h5>
                <button data-smv-dismiss="modal" type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form data-mode="new" class="vstack form-new-model gap-3">
                    <div>
                        <div>
                            <label>Model Name</label>
                            <input type="text" name="name" class="form-input capitalize model-name-input"
                                   placeholder="Model Name">
                        </div>
                        <span class="smaller mt1 form-message model-name-alert"></span>
                    </div>
                    <div>
                        <label>Table Name (Optional)</label>
                        <input type="text" name="table" class="form-input model-alias-input" placeholder="Table Name">
                    </div>
                    <div class="col-12 model-view-container">
                        {% include "comp/model_view.twig" %}
                    </div>
                    <input type="submit" id="md-submit" hidden="">
                </form>
            </div>
            <div class="modal-footer">
                <span class="smaller mt1 form-message general-msg-box form-alert"></span>
                <div class="hstack gap-2 w-100">
                    <button data-smv-dismiss="modal" type="button"
                            class="btn ml-auto btn-danger-soft:hover py-1 btn-secondary">Cancel
                    </button>
                    <label for="md-submit" data-smv-submit
                           class="btn disabled btn-loader btn-primary-soft py-1 btn-primary">
                        create
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>


{# Data config Wizard #}
<div class="modal center-grow comp-db-config" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary:soft">
                <h5 class="modal-tixtle" id="modalVerticallyCenteredLabel">

                    <span class="hstack gap-1">
                        <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-database" viewBox="0 0 16 16">
                            <path d="M4.318 2.687C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4c0-.374.356-.875 1.318-1.313M13 5.698V7c0 .374-.356.875-1.318 1.313C10.766 8.729 9.464 9 8 9s-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777A5 5 0 0 0 13 5.698M14 4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13zm-1 4.698V10c0 .374-.356.875-1.318 1.313C10.766 11.729 9.464 12 8 12s-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777A5 5 0 0 0 13 8.698m0 3V13c0 .374-.356.875-1.318 1.313C10.766 14.729 9.464 15 8 15s-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13s3.022-.289 4.096-.777c.324-.147.633-.323.904-.525"/>
                        </svg>
                    </i>

                    Database Config Wizard
                    </span>
                </h5>
                <button data-smv-dismiss="modal" type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="vstack form-db-config gap-3">
                    <div>
                        <label>Database Server</label>
                        <input type="text" name="db_server" class="form-input" placeholder="DB Server">
                    </div>
                    <div>
                        <label>Database User</label>
                        <input type="text" name="db_user" class="form-input" placeholder="DB User">
                    </div>
                    <div>
                        <label>Database Password</label>
                        <input type="text" name="bd_password" class="form-input" placeholder="DB Password">
                    </div>
                    <div>
                        <label>Database Name</label>
                        <input type="text" name="db_name" class="form-input" placeholder="DB Name">
                    </div>
                    <hr>

                    <div class="modal-footer">
                        <button data-smv-dismiss="modal" type="button"
                                class="btn btn-danger-soft:hover py-1 btn-secondary">
                            Cancel
                        </button>
                        <button type="submit" class="btn btn-loader btn-loader btn-primary-soft py-1 btn-primary">
                            Configure
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


{% include "comp/model_view.twig" %}
{% include "comp/model-column.twig" %}

<div class="modal center-grow admin-form" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-tixtle" id="modalVerticallyCenteredLabel">
                    Create Super Admin
                </h5>
                <button data-smv-dismiss="modal" type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="vstack form-new-model gap-3">
                    <div>
                        <label>Email</label>
                        <input type="email" name="admin-email" class="form-input" placeholder="Email">
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" name="password" class="form-input" placeholder="**********">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger-soft:hover py-1 btn-secondary">Cancel</button>
                        <button type="submit" class="btn btn-loader btn-primary-soft py-1 btn-primary">
                            Create
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


{# confirm #}
<div class="modal center-grow d-confirm" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header py-0 bg-primary:soft">
                <div class="modal-tixtle color-primary" id="modalVerticallyCenteredLabel">
                    <div class="hstack gap-2">
                        <h4>
                            Confirm
                        </h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <p class="" data-confirm-message>Confirm</p>
                <div class="hstack gap-1">
                    <div data-confirm-ok class="btn ml-auto btn-primary:hover">Ok</div>
                    <div data-confirm-dismiss="modal" class="btn  btn-danger:hover">Cancel</div>
                </div>
            </div>

        </div>
    </div>
</div>

{# alert #}
<div class="modal center-grow d-alert" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header p-2 bg-primary:soft">
                <div class="modal-tixtle color-primary" id="modalVerticallyCenteredLabel">
                    <div class="hstack gap-2">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            </svg>
                        </i>
                    </div>
                </div>
                <button data-alert-dismiss="modal" type="button" class="btn-close" aria-label="Close"></button>

            </div>
            <div class="modal-body p-2">
                <p data-alert-message></p>
            </div>

        </div>
    </div>
</div>


<div class="modal show center-grow d-loader" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-2 bg-primary:soft">
                <div class="modal-tixtle color-primary" id="modalVerticallyCenteredLabel">
                    <div class="hstack gap-2">
                        <i class="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                            </svg>
                        </i>
                    </div>
                </div>
                <button data-prog-dismiss="modal" type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">
                <div class="vstack jc-center ai-center">
                    <svg width="64" height="64" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <style>.spinner_ajPY {
                                transform-origin: center;
                                animation: spinner_AtaB .75s infinite linear
                            }

                            @keyframes spinner_AtaB {
                                100% {
                                    transform: rotate(360deg)
                                }
                            }</style>
                        <path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
                              opacity=".25"/>
                        <path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"
                              class="spinner_ajPY"/>
                    </svg>

                    <p data-prog-message>dddd</p>
                </div>
            </div>

        </div>
    </div>
</div>
