{% extends "base.twig" %}
{% block auth %}
    <style>
        body {
            background: rgba(0, 0, 0, 0.06);
        }

        .auth-layout {
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        .auth-card {
            border-radius: 1rem;
            padding: .5rem;
            gap: .5rem;
            flex: 1 1 auto;
            align-self: stretch;

        }

        .auth-form {
            gap: .3rem;
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            align-self: stretch;
        }

        .d-grid {
            display: grid;
        }

        .jc-between {
            display: flex;
            justify-content: space-between;
            color: #4e555b;
        }
    </style>
    <div class="auth-layout grid">
        <!-- Main content START -->
        <div class="grid-col-5">
            <!-- Sign in START -->
            <div class="card auth-card text-center p4">
                <div class="hstack p-4 gap-2">
                    <img width="100" src="{{ url_for('static',{filename:'villeon/villeon.png'}) }}" alt="">
                    <h1 class="mb-2">Sign in</h1>
                </div>

                {% for message in get_flashed_messages() %}
                    <div class="bg-danger:soft p-2">
                        {{ message }}
                    </div>
                {% endfor %}
                <form method="post" class="auth-form login-form">
                    <!-- Email -->
                    <div class="input-group-lg">
                        <input type="email" name="email" class="form-input" placeholder="Enter email">
                    </div>
                    <div class="position-relative">
                        <!-- Password -->
                        <div class="input-group input-group-lg">
                            <input class="form-input" name="password" type="password" id="psw-input"
                                   placeholder="Enter new password">
                        </div>
                    </div>
                    <!-- Remember me -->
                    <div class="jc-between">
                        <div>
                            <input type="checkbox" class="form-check-input" id="rememberCheck">
                            <label class="form-check-label" for="rememberCheck">Remember me?</label>
                        </div>
                        <a href="/admin/auth/reset">Forgot password?</a>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-lg btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}