
.m0 {
    margin: 0 !important;
}

.m1 {
    margin: 0.25rem !important;
}

.m2 {
    margin: 0.5rem !important;
}

.m3 {
    margin: 1rem !important;
}

.m4 {
    margin: 1.6rem !important;
}

.m5 {
    margin: 2.5rem !important;
}

.m6 {
    margin: 3.5rem !important;
}

.m7 {
    margin: 4rem !important;
}

.m8 {
    margin: 8rem !important;
}

.m9 {
    margin: 11rem !important;
}

.m-auto {
    margin: auto !important;
}

.mx0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mx2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.mx3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.mx4 {
    margin-right: 1.6rem !important;
    margin-left: 1.6rem !important;
}

.mx5 {
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important;
}

.mx6 {
    margin-right: 3.5rem !important;
    margin-left: 3.5rem !important;
}

.mx7 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}

.mx8 {
    margin-right: 8rem !important;
    margin-left: 8rem !important;
}

.mx9 {
    margin-right: 11rem !important;
    margin-left: 11rem !important;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.my0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}

.my2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.my4 {
    margin-top: 1.6rem !important;
    margin-bottom: 1.6rem !important;
}

.my5 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}

.my6 {
    margin-top: 3.5rem !important;
    margin-bottom: 3.5rem !important;
}

.my7 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}

.my8 {
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
}

.my9 {
    margin-top: 11rem !important;
    margin-bottom: 11rem !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt1 {
    margin-top: 0.25rem !important;
}

.mt2 {
    margin-top: 0.5rem !important;
}

.mt3 {
    margin-top: 1rem !important;
}

.mt4 {
    margin-top: 1.6rem !important;
}

.mt5 {
    margin-top: 2.5rem !important;
}

.mt6 {
    margin-top: 3.5rem !important;
}

.mt7 {
    margin-top: 4rem !important;
}

.mt8 {
    margin-top: 8rem !important;
}

.mt9 {
    margin-top: 11rem !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mr1 {
    margin-right: 0.25rem !important;
}

.mr2 {
    margin-right: 0.5rem !important;
}

.mr3 {
    margin-right: 1rem !important;
}

.mr4 {
    margin-right: 1.6rem !important;
}

.mr5 {
    margin-right: 2.5rem !important;
}

.mr6 {
    margin-right: 3.5rem !important;
}

.mr7 {
    margin-right: 4rem !important;
}

.mr8 {
    margin-right: 8rem !important;
}

.mr9 {
    margin-right: 11rem !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb1 {
    margin-bottom: 0.25rem !important;
}

.mb2 {
    margin-bottom: 0.5rem !important;
}

.mb3 {
    margin-bottom: 1rem !important;
}

.mb4 {
    margin-bottom: 1.6rem !important;
}

.mb5 {
    margin-bottom: 2.5rem !important;
}

.mb6 {
    margin-bottom: 3.5rem !important;
}

.mb7 {
    margin-bottom: 4rem !important;
}

.mb8 {
    margin-bottom: 8rem !important;
}

.mb9 {
    margin-bottom: 11rem !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.ml0 {
    margin-left: 0 !important;
}

.ml1 {
    margin-left: 0.25rem !important;
}

.ml2 {
    margin-left: 0.5rem !important;
}

.ml3 {
    margin-left: 1rem !important;
}

.ml4 {
    margin-left: 1.6rem !important;
}

.ml5 {
    margin-left: 2.5rem !important;
}

.ml6 {
    margin-left: 3.5rem !important;
}

.ml7 {
    margin-left: 4rem !important;
}

.ml8 {
    margin-left: 8rem !important;
}

.ml9 {
    margin-left: 11rem !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mn1 {
    margin: -0.25rem !important;
}

.mn2 {
    margin: -0.5rem !important;
}

.mn3 {
    margin: -1rem !important;
}

.mn4 {
    margin: -1.6rem !important;
}

.mn5 {
    margin: -2.5rem !important;
}

.mn6 {
    margin: -3.5rem !important;
}

.mn7 {
    margin: -4rem !important;
}

.mn8 {
    margin: -8rem !important;
}

.mn9 {
    margin: -11rem !important;
}

.mxn1 {
    margin-right: -0.25rem !important;
    margin-left: -0.25rem !important;
}

.mxn2 {
    margin-right: -0.5rem !important;
    margin-left: -0.5rem !important;
}

.mxn3 {
    margin-right: -1rem !important;
    margin-left: -1rem !important;
}

.mxn4 {
    margin-right: -1.6rem !important;
    margin-left: -1.6rem !important;
}

.mxn5 {
    margin-right: -2.5rem !important;
    margin-left: -2.5rem !important;
}

.mxn6 {
    margin-right: -3.5rem !important;
    margin-left: -3.5rem !important;
}

.mxn7 {
    margin-right: -4rem !important;
    margin-left: -4rem !important;
}

.mxn8 {
    margin-right: -8rem !important;
    margin-left: -8rem !important;
}

.mxn9 {
    margin-right: -11rem !important;
    margin-left: -11rem !important;
}

.myn1 {
    margin-top: -0.25rem !important;
    margin-bottom: -0.25rem !important;
}

.myn2 {
    margin-top: -0.5rem !important;
    margin-bottom: -0.5rem !important;
}

.myn3 {
    margin-top: -1rem !important;
    margin-bottom: -1rem !important;
}

.myn4 {
    margin-top: -1.6rem !important;
    margin-bottom: -1.6rem !important;
}

.myn5 {
    margin-top: -2.5rem !important;
    margin-bottom: -2.5rem !important;
}

.myn6 {
    margin-top: -3.5rem !important;
    margin-bottom: -3.5rem !important;
}

.myn7 {
    margin-top: -4rem !important;
    margin-bottom: -4rem !important;
}

.myn8 {
    margin-top: -8rem !important;
    margin-bottom: -8rem !important;
}

.myn9 {
    margin-top: -11rem !important;
    margin-bottom: -11rem !important;
}

.mtn1 {
    margin-top: -0.25rem !important;
}

.mtn2 {
    margin-top: -0.5rem !important;
}

.mtn3 {
    margin-top: -1rem !important;
}

.mtn4 {
    margin-top: -1.6rem !important;
}

.mtn5 {
    margin-top: -2.5rem !important;
}

.mtn6 {
    margin-top: -3.5rem !important;
}

.mtn7 {
    margin-top: -4rem !important;
}

.mtn8 {
    margin-top: -8rem !important;
}

.mtn9 {
    margin-top: -11rem !important;
}

.mrn1 {
    margin-right: -0.25rem !important;
}

.mrn2 {
    margin-right: -0.5rem !important;
}

.mrn3 {
    margin-right: -1rem !important;
}

.mrn4 {
    margin-right: -1.6rem !important;
}

.mrn5 {
    margin-right: -2.5rem !important;
}

.mrn6 {
    margin-right: -3.5rem !important;
}

.mrn7 {
    margin-right: -4rem !important;
}

.mrn8 {
    margin-right: -8rem !important;
}

.mrn9 {
    margin-right: -11rem !important;
}

.mbn1 {
    margin-bottom: -0.25rem !important;
}

.mbn2 {
    margin-bottom: -0.5rem !important;
}

.mbn3 {
    margin-bottom: -1rem !important;
}

.mbn4 {
    margin-bottom: -1.6rem !important;
}

.mbn5 {
    margin-bottom: -2.5rem !important;
}

.mbn6 {
    margin-bottom: -3.5rem !important;
}

.mbn7 {
    margin-bottom: -4rem !important;
}

.mbn8 {
    margin-bottom: -8rem !important;
}

.mbn9 {
    margin-bottom: -11rem !important;
}

.mln1 {
    margin-left: -0.25rem !important;
}

.mln2 {
    margin-left: -0.5rem !important;
}

.mln3 {
    margin-left: -1rem !important;
}

.mln4 {
    margin-left: -1.6rem !important;
}

.mln5 {
    margin-left: -2.5rem !important;
}

.mln6 {
    margin-left: -3.5rem !important;
}

.mln7 {
    margin-left: -4rem !important;
}

.mln8 {
    margin-left: -8rem !important;
}

.mln9 {
    margin-left: -11rem !important;
}


/*grid*/
.grid {
    --bs-gutter-x: 1.875rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.grid > * {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}

.col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}

.color-danger {
    color: #d6293e;
}

.smv-checkbox {
    position: relative;
    display: flex;
    width: 10px;
    height: 10px;
    align-self: stretch;
    align-items: center;
}
.smv-checkbox > svg{
    width: 16px;
    height: 16px;
}

.smv-checkbox:hover .check {
    stroke-dashoffset: 0;
}

.smv-checkbox .background {
    fill: transparent;
    stroke: #595959;
    stroke-width: 1px;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.smv-checkbox .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.smv-checkbox .check {
    fill: none;
    stroke: #595959;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.smv-checkbox input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
}

.smv-checkbox input[type=checkbox]:hover {
    cursor: pointer;
}

.smv-checkbox input[type=checkbox]:checked + svg + * {
    color: var(--color-main);
}
.smv-checkbox input[type=checkbox]:checked + svg .check{
    stroke: #fff;
}

.smv-checkbox input[type=checkbox]:checked + svg .background {
    fill: currentColor;

}

.smv-checkbox input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
}

.smv-checkbox input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
}

.menu {
    position: relative;
}

.menu-options {
    position: absolute;
    top: calc(100% + .5rem);
    border-radius: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    display: none;
    min-width: 200px;
    z-index: 1000;
    box-shadow: var(--bx-shadow-sm);
}

.menu-options > * {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    align-self: stretch;
    color: rgba(0, 0, 0, 0.7);
}

.menu-options > :hover {
    background: rgba(0, 0, 0, 0.05);

}

.menu-options.show {
    display: block;
}

.btn-green\:soft {
    color: #09B850!important;
    background: rgba(9, 184, 80, 0.1)!important;
}

.bg-green\:soft {
    background: rgba(9, 184, 80, 0.1) !important;
}

.color-green {
    color: #09B850;
}
.capitalize{
    text-transform: capitalize;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-bolder {
    font-weight: bolder !important;
}
