<div class="model-tables vstack">
    <table class="smv-table table-bordered">
        <caption>
            Defined models
        </caption>
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Table Name
            </th>
            <th>
                Fields
            </th>
            <th>
                Matched
            </th>
        </tr>
        </thead>
        <tbody>
        {% for table in panel.tables %}
            <tr>
                <td>
                    {{ table.name }}
                </td>
                <td>
                    {{ table.schema.table }}
                </td>
                <td>{{ table.schema.fields|keys|join(', ') }}</td>
                <td style="width: 1rem">
                    <div class="hstack">
                        <span class="check">
                            <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g
                                        id="SVGRepo_iconCarrier">
                                    <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="currentColor" stroke-width="2"
                                          stroke-linecap="round" stroke-linejoin="round">

                                    </path>
                                </g>
                            </svg>
                        </span>
                        <span class="btn">modify</span>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
