<div class="model-view">
    <div class="card model-wizard">
        <div class="vstack wizard-body px-3 gap-2">
            <div class="model-field">
                <div class="col">
                    Name
                </div>
                <div class="col">
                    Data Type
                </div>
                <div class="col">
                    Default
                </div>
                <div class=""></div>
            </div>
            <div class="model-fields vstack gap-2">
                {% for info in defaultModelColumns %}
                    {% include "comp/model-column.twig" %}
                {% endfor %}
            </div>
            <div class="hstack my2">
                <a data-smv-trigger="add-model-field" href="#" class="btn mx-auto py-1">Add
                    field</a>
            </div>
        </div>
    </div>
</div>
