{% if not app.env.PANEL_SECURED and app.settings.SHOW_ADMIN_SECURE_WIZARD %}
    <div class="modal secure-view  center-grow comp-db-config" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger:soft">
                    <div class="modal-tixtle color-danger" id="modalVerticallyCenteredLabel">
                        <div class="hstack gap-2">
                            <i class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                     class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                </svg>
                            </i>
                            <h4>
                                Security Alert
                            </h4>
                        </div>
                    </div>
                    <button data-smv-dismiss="modal" type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="fw-bold">Your Control panel is not secured. Anyone can access it.</p>
                    <form action="">
                        <label class="smv-checkbox hstack w-100 gap-2">
                            <input name="show-enabled" type="checkbox">
                            <svg width="24" height="24" viewBox="0 0 35.6 35.6">
                                <circle class="background" cx="17.8" cy="17.8"
                                        r="17.8"></circle>
                                <circle class="stroke" cx="17.8" cy="17.8"
                                        r="14.37"></circle>
                                <polyline class="check"
                                          points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                            </svg>
                            Don't show this again.
                        </label>
                    </form>
                    <div class="hstack gap-1">
                        <div data-smv-next class="btn btn-sm ml-auto btn-primary:hover">Secure now</div>
                        <div data-smv-dismiss="modal" class="btn btn-sm  btn-primary:hover">Cancel</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endif %}

